@media (prefers-reduced-motion: no-preference) {
    .loading-svg {
      animation: Loading-spin infinite 1s linear;
    }
  }

@keyframes Loading-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }