table th {
    padding: 5px;
}
table td {
    padding: 5px;
}


.terms-table th {
    padding: 15px;
}

.terms-table td {
    padding: 15px;
}

@media only screen 
    and (max-width : 850px) {
    .terms-table {
        font-size: 10px;
    }
    
    .terms-table th {
        padding: 5px;
    }
    
    .terms-table td {
        padding: 5px;
    }
}

